@{
    //Won't use a shared view Layout
    Layout = null;
}

@model LoginModel

<html>

<head>
    <meta name="viewport" content="width=device-widt" />
    <title>Online Bookstore Login</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
</head>

<body>

    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m1-2">ONLINE BOOKSTORE</span>
    </div>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="sign-in rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="~/img/Black and white  Elegant Minimal Photographer Logo Video.png" style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Admin Sign In</h4>
                                    </div>

                                    <form method="post" asp-controller="Account" asp-action="Login">

                                        <div class="form-group">
                                            <label asp-for="Username">User Name:</label>
                                            <input asp-for="Username" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Password">Password:</label>
                                            <input asp-for="Password" class="form-control" type="password" />
                                        </div>
                                        <div class="text-danger" asp-validation-summary="All"></div>

                                        <br />

                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log In</button>

                                        <input type="hidden" asp-for="ReturnUrl" />
                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">About The Admin Section</h4>
                                    <p class="small mb-0">The Admin section of our Online Bookstore allows users to view, edit, and add books in our Database.
                                    It also gives you the ability to see who has purchased books and the associated information.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>IS 413</span></strong>. All Rights Reserved.
            </div>
            <div class="credits">
                Designed by Jess Hansen
            </div>
        </div>
    </footer><!-- End Footer -->
</body>
</html>
