@{
    ViewData["Title"] = "Online Bookstore - Home";
}
@model BooksViewModel

@foreach (Book b in Model.Books)
    {
        <!--References BookSummary.cshtml in the shared layout folder-->
        <!--Partial View-->
        <partial name="BookSummary" model="b" />
    }

<!--Pagination-->
<div page-number="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
        page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

