@page
@model OnlineBookstore.Pages.PurchaseCompletedModel
@{
}

<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<!--Progress Bar-->
<div class="timeline card-timeline px-2 border-none">
    <ul class="bs4-order-tracking">
        <li class="step active">
            <div><i class="fa fa-shopping-cart"></i></div> Review Order
        </li>
        <li class="step active">
            <div><i class="fa fa-pencil-alt"></i></div> Fill Out Info
        </li>
        <li class="step active">
            <div><i class="fa fa-money-bill-alt"></i></div> Complete Purchase
        </li>
    </ul>
</div>

<section class="services">
    <div class="container">

        <div class="row">
            <div class="align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="fa fa-check-circle"></i></div>
                    <h2 class="title">Thanks! Your purchase has been completed!</h2>
                    <a class="btn btn-success" asp-controller="Home">Return Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
