@page
@model OnlineBookstore.Pages.PurchaseCompletedModel
@{
}

<section class="services">
    <div class="container">

        <div class="row">
            <div class="align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="fa fa-check-circle"></i></div>
                    <h2 class="title">Thanks! Your purchase has been completed!</h2>
                    <a class="btn btn-success" asp-controller="Home">Return Home</a>
                </div>
            </div>
        </div>
     </div>
</section>
